name: Build Ghost PRO
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git python3-dev openjdk-17-jdk lib32z1 lib32stdc++6
          pip install --upgrade Cython==0.29.33 buildozer virtualenv

      - name: Build with Buildozer
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # ЭТА СТРОКА РЕШАЕТ ПРОБЛЕМУ С AIDL
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --sdk_root=$ANDROID_HOME --licenses
          buildozer android debug
        env:
          ACCEPT_SDK_LICENSE: "y"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: GhostPRO-Final
          path: bin/*.apk
