name: Build Ghost PRO Final
on: push

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          # Ставим конкретную версию Cython для стабильности
          pip install --upgrade Cython==0.29.33 buildozer

      - name: Build APK
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # Сначала принимаем все лицензии, потом запускаем билд
          yes | buildozer android debug
        env:
          BUILDOZER_ALLOW_ORG_GHOST: 1

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Ghost-PRO-App
          path: bin/*.apk
